#SchoolLogo {
  text-align: center;
  background-color: #eee;
  height: 150px;
  width: 100%;
}

#CurrentAlertMessage {
  height: 200px;
}

.container {
}

button {
  margin-top: 40px;
}

.homepageMain {
  font-family: 'Syncopate', sans-serif;
  text-align: center;
  padding: 1%;
}

.homepageMain img {
  width: 15%;
  height: auto;
  padding: 10px;
}

.card {
  background-color: #e6eaf2;
  padding: 2%;
}

.card-deck {
  width: 50%;
  margin: auto;
  text-align: center;
}

.card-img-top {
  width: 70%;
  height: auto;
  margin: auto;
  margin-top: 3%;
}

/*Admin Page Styling*/
/* .adminForm {
  background-color: #e6eaf2;
  padding: 2%;
  border: 1px solid gray;
  margin-top: 2%;
} */

#CurrentAlertMessage {
  background-color: white;
  padding: 1%;
}

p1 {
  color: gray;
  font-style: italic;
}

/*Home Page Media Queries */
@media only screen and (max-width: 770px) {
  .card {
    font-size: 80%;
    margin: 4%;
  }
  .card h5 {
    font-size: 120%;
    font-weight: bold;
  }
  .homepageMain h1 {
    font-size: 120%;
  }
  .homepageMain h5 {
    font-size: 90%;
  }
  .homepageMain img {
    width: 40%;
    height: auto;
  }
  .btn {
    font-size: 90%;
  }
