#SchoolLogo {
  text-align: center;
  background-color: #eee;
  height: 150px;
  width: 100%;
}
#CurrentAlertMessage {
  height: 200px;
}
.container {
}
button {
  margin-top: 40px;
}
.card {
  margin-top: 10px;
}

.homepage-cards {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.card-deck {
  width: 60%;
  margin: auto;
}

.homepage-carousel {
  width: 90%;
  margin: auto;
}
